version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8084:8084"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/freelancer
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Bluelock_006
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

  db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=freelancer
      - MYSQL_USER=root
      - MYSQL_PASSWORD=Bluelock_006
      - MYSQL_ROOT_PASSWORD=Bluelock_006
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
